######################
# Project Specific
######################
######################
# Eclipse
######################
# External tool builders
# Locally stored "Eclipse launch configurations"
# CDT-specific
# PDT-specific
######################
# Intellij
######################
.idea/
*.iml
######################
# Visual Studio Code
######################
######################
# Maven
######################
target/

######################
# Gradle
######################
######################
# Package Files
######################
######################
# Windows
######################
# Windows image file caches
# Folder config file
######################
# Mac OSX
######################
# Thumbnails
# Files that might appear on external disk
######################
# Directories
######################
######################
# Logs
######################
*.log

######################
# Others
######################
######################
# Gradle Wrapper
######################
######################
# Maven Wrapper
######################
######################
# ESLint
######################
